version: '3.8'

services:
  ciper:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-password}@postgres:5432/${POSTGRES_DB:-cipher_auth}
      REDIS_URL: redis://redis:6379
    depends_on:
      - postgres
      - redis
    networks:
      - app_network
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  postgres:
    container_name: cipher_postgres
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-cipher_auth}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
      - app_network
  redis:
    container_name: cipher_redis
    image: redis:7
    ports:
      - '6379:6379'
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
